# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
.tags

*.swp
*.swo
*.blg
*.log
*.aux
*.pdf
*.dvi

#autotools files
config.h
config.log
config.status
configure
Makefile
autom4te.cache/*
build/bin/cacheserver
build/bin/clear_mr.sh
build/bin/client
build/bin/collectl.sh
build/bin/countline.sh
build/bin/diskflush.sh
build/bin/display_my_effort.sh
build/bin/eclipse
build/bin/fd
build/bin/fd_core
build/bin/killall.sh
build/bin/master
build/bin/mcc
build/bin/mrcat
build/bin/mrcat_core
build/bin/mrclear
build/bin/mrclear_core
build/bin/mrget
build/bin/mrls
build/bin/mrput
build/bin/mrrm
build/bin/mrrm_core
build/bin/rm.sh
build/bin/run.sh
build/bin/run_without_fd.sh
build/bin/runmaster.sh
build/bin/runslave.sh
build/bin/screensaver.sh
build/bin/slave
build/bin/test.sh
src/orthrus/cacheserver
src/orthrus/eclipse
